<mat-toolbar color="primary">
  <mat-toolbar-row class="container">
    <img src="./assets/img/logo.svg" alt="Miwa Kaur Logo" class="logo" />
    <h1 class="title major">Miwa Yagi Kaur</h1>
    <h2 class="title minor">Design Technologist</h2>
  </mat-toolbar-row>
</mat-toolbar>
<section class="page-wrapper">
  <main class="main container">
    <app-homepage></app-homepage>
    <!-- <app-experience></app-experience>
    <app-portfolio></app-portfolio>
    <mat-card class="outer-card elm-wrapper col-2">
      <app-bio></app-bio>
      <app-contact></app-contact>
    </mat-card> -->
  </main>
</section>
<div class="bubble-wrapper"></div>
