@import '../style-variables';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10rem;
}

.mat-toolbar {
  border-bottom: 1px solid $mk-red;
  position: relative;
  &:after {
    background: linear-gradient(to bottom, rgba($dark-gray, .5) 0%,rgba($dark-gray,0) 100%);
    bottom: -1.1rem;
    content: "";
    display: block;
    height: 1rem;
    left: 0;
    position: absolute;
    width: 100vw;
    z-index: 1;
  }
  .mat-toolbar-row {
    height: 10rem;
    &:focus,
    &:hover {
      .logo {
        transform: rotateY(360deg);
      }
    }
    .title {
      font-weight: lighter;
      line-height: normal;
      &.major {
        font-size: 5rem;
        margin: 0 2rem;
        @media (max-width: 767.98px) {
          font-size: 3rem;
        }
      }
      &.minor {
        font-size: $font-x-large;
        margin-top: 2rem;
        @media (max-width: 767.98px) {
          display: none;
        }
      }
    }
    .logo {
      display: inline-block;
      transition: transform .5s ease;
      width: 5rem;
      @media (max-width: 767.98px) {
        width: 3rem;
      }
    }
  }
}
