<mat-card>
  <h2 class="section-header"><i class="material-icons">face</i> Who is Miwa?</h2>
  <div class="constent">
    <p class="paragraph"><img src="../assets/img/miwa.jpg" alt="Miwa Kaur" class="bio-pic">
    In my personal life, 👹 I have many things that I am passionate about.😀
    First of all, I have been practicing yoga for over a decade. In 2008, I earned a 200 hours Hatha yoga teacher certification from Sivananda Yoga Institute.🙏
    I also love cooking 👩🏽‍🍳 and baking.🍰 I have immense love of sharing food I make with my friends and coworkers. *My Oatmeal cookies 🍪 are irresistible!</p>
    <p class="paragraph">When the weather is nice out, 🌞 I enjoy hiking,🚶 camping ⛺ and swimming. There is nothing like being surrounded by nature.🍃</p>
    <p class="paragraph">Giving back to our community 👪 is another passion of mine. 👍 I have contributed to numerous organizations for people with cancer 💐 and underprivileged communities.💙</p>
    <p class="paragraph">I adopted a cat 😺 recently. His name is Love who brightens my life.🐾</p>
    <p class="paragraph">*I bring my delicious baked goods 🍩 to work a few times a month.✨</p>
  </div>
</mat-card>




