$dark-gray: rgb(37, 37, 37);
$white: rgb(225, 225, 225);
$deep-orange: #ff6e40;
$mk-red: #F74646;
$mk-red-alpha:rgba($mk-red, .4);
$mk-cyan: #0097a7;


$font-small: 1.2rem;
$font-medium: 1.4rem;
$font-large: 1.6rem;
$font-x-large: 2.5rem;

$font-family-assistant: 'Assistant', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
